<div class="container">

  <div class="section">

    <div class="subtitle mb-3">
      <h1>Do you want to create an account?</h1>
      <span>Joining flatme will give you access to our reviews and 
          will allow you to participate within out community</span>
    </div>

    <form class="row g-3" method="POST" action="/signup">
      <p>Please fill out all the mandatory fields (*).</p>
      <hr>
      <div class="col-md-4">
        <label for="name" class="form-label">Name *</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Name" value="{{profileBody.name}}">
      </div>

      <div class="col-md-4">
        <label for="lastname" class="form-label">Last Name *</label>
        <input type="text" name="lastname"  class="form-control" id="lastname" placeholder="Last Name" value="{{profileBody.lastname}}">
      </div>

      <div class="col-md-4">
        <label for="country" class="form-label">Country *</label>
        <select id="country" class="form-select" name="country" >
          <option selected>Choose...</option>
          {{#each countriesList}}
            <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="col-12">
        <label for="email" class="form-label">Email Address *</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="example@flatme.com" value="{{profileBody.email}}">
      </div>

      <div class="col-12">
        <label for="password" class="form-label">Password *</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" value="{{profileBody.password}}">
        <div id="passwordHelpBlock" class="form-text">
          Your password must be 8-20 characters long, contain at least 1 uppercase and 1 lowercase character, 1 special character (for example !, @, #, $, %, ^, &, or *) and 1 number, and must not contain spaces, or emoji.
        </div>
      </div>

      <div class="col-12">
        <label for="password2" class="form-label">Repeat Password *</label>
        <input type="password" name="password2" class="form-control" id="password2" placeholder="Password">
      </div>
      
      <div class="col-12 text-center mt-4">
        <button type="submit" class="mybtn btn btn-primary">Sign me up!</button>
      </div>
    </form>
  </div>

</div>

{{#if msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole! 🥑</strong> {{msg}}
</div>
{{/if}}