{{> userpartial}}
<div class="container">

  <h1>Hello {{user.0.name}}, welcome to your profile</h1>

  <div class="container">
    <h6>Name : {{user.0.name}}</h6>
    <h6>Last Name : {{user.0.lastname}}</h6>
    <h6>Email : {{user.0.email}}</h6>
    <h6>Hobbies : {{user.0.hobbies}}</h6>
    <h6>Country : {{user.0.country}}</h6>
 

    <a href="/profile/edit">Edit</a>
  </div>

<div class="container">
  {{#if comment}}
    <h2>Your reviews</h2>
    {{#each comment}}
      <p>{{this.title}}</p>
    {{/each}}
    <a href="">Edit</a>
    <a href="">Delete</a>
  {{/if}}
</div>