<div class="container">
  <h1 class="m-4 title">Hello {{user.0.name}}, welcome to your profile</h1>

  <div class="section userSection">

    <img class = "userpicture" src="{{user.0.picture}}" alt="profile picture">

    <div class="myinfo container m-3">

      <div class="info container">
        <span>
        <h5>Name: </h5> 
        <h6>{{user.0.name}}</h6>
        </span>
        <span>
        <h5>Last Name: </h5>
        <h6>{{user.0.lastname}}</h6>
        </span>
        <span>
        <h5>Email: </h5>
        <h6>{{user.0.email}}</h6>
        </span>
        <span>
        <h5>Country: </h5>
        <h6>{{user.0.country}}</h6>
        </span>
      </div>
  
      <div class="controlbtn">
        <a href="/profile/edit" class="icon-btn"><i class="fas fa-edit fa-lg"></i></a>
        <a href="/logout"><i class="fas fa-sign-out-alt fa-lg"></i></a>
      </div>

    </div>

  </div>


  <div class="section profileComment">
    <h2>Your reviews</h2>
    <hr>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Unpublished Reviews (drafts)
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {{#unless isDrafts}}
              <p class="title">Well done! All your reviews are published.</p>
            {{/unless}}
          {{#each comment}}
            {{#unless this.published}}
              <div class="container draftcomment">
                <h4 class="draftStatus">DRAFT</h4>
                <h4 class="text-grey">{{this.title}}</h4>
                <p>score: {{this.score}}/5</p>
                <p>{{this.address}}</p>
                <p>{{this.review}}</p>
              
              <a href="/review/{{this._id}}/edit">
                <button type="submit" class="mybtn btn text-white">Edit</button>
              </a>
              <a href="/reviews/{{this._id}}/delete">
                <button type="submit" class="mybtn btn text-white">Delete</button>
              </a>
              </div>
            {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Published Reviews
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {{#unless comment}}
              <p class="title">You have no published reviews, how about writing a review or publishing a draft?</p>
            {{/unless}}
          {{#each comment}}
            {{#if this.published}}
              <div class="container draftcomment">
                <h4>{{this.title}}</h4>
                <p>score: {{this.score}}/5</p>
                <p>{{this.address}}</p>
                <p>{{this.review}}</p>
              
                <a href="/reviews/{{this._id}}/delete">
                  <button type="submit" class="mybtn btn text-white">Delete</button>
                </a>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>