{{> userpartial}}

<div class="container">

  <h1 class="m-4 title">Hello {{user.0.name}}, welcome to your profile</h1>

  <div class="section">

  
    <div class="myinfo container">
      <div class="info">
        <h6>Name : {{user.0.name}}</h6>
        <h6>Last Name : {{user.0.lastname}}</h6>
        <h6>Email : {{user.0.email}}</h6>
        <h6>Hobbies : {{user.0.hobbies}}</h6>
        <h6>Country : {{user.0.country}}</h6>
      </div>
  
      <div class="controlbtn">
        <a href="/profile/edit"><i class="fas fa-edit fa-lg"></i></a>
        <a href="/logout" class="m-4"><i class="myicon fas fa-sign-out-alt fa-lg"></i></a>
      </div>
    </div>
  </div>


    {{#if comment}}
    <div class="container section">
      <h2>Your reviews</h2>
      <hr>
      
      {{#each comment}}
        <h4>{{this.title}}</h4>
        <p>{{this.review}}</p>
        {{#unless this.published}}
        <p id="draftStatus">DRAFT</p>
        <form action="/reviews/{{this._id}}/editreview" method="POST">
          <button type="submit" class="mybtn btn text-white">Edit</button>
        </form>
        {{/unless}}
        <form action="/reviews/{{this._id}}/delete" method="POST">
          <button type="submit" class="mybtn btn text-white">Delete</button>
        </form>
        
      {{/each}}

    </div>
    {{/if}}
  

</div>