{{> userpartial}}

<div class="container">

  <h1 class="m-4 title">Hello {{user.0.name}}, welcome to your profile</h1>

  <div class="section">

  
    <div class="myinfo container">
      <div class="info">
        <span>
        <h5>Name: </h5> 
        <h6>{{user.0.name}}</h6>
        </span>
        <span>
        <h5>Last Name: </h5>
        <h6>{{user.0.lastname}}</h6>
        </span>
        <span>
        <h5>Email: </h5>
        <h6>{{user.0.email}}</h6>
        </span>
        <span>
        <h5>Hobbies: </h5>
        <h6>{{user.0.hobbies}}</h6>
        </span>
        <span>
        <h5>Country: </h5>
        <h6>{{user.0.country}}</h6>
        </span>
      </div>
  
      <div class="controlbtn">
        <a href="/profile/edit"><i class="fas fa-edit"></i></a>
        <a href="/logout" class="m-4"><i class="myicon fas fa-sign-out-alt"></i></a>
      </div>
    </div>
  </div>


    {{#if comment}}
    <div class="container section profileComment">
      <h2>Your reviews</h2>
      <hr>
      
      {{#each comment}}
        {{#unless this.published}}
          <div class"container draftcomment">
            <h4 id="draftStatus">DRAFT</h4>
            <h4 class="text-grey">{{this.title}}</h4>
            <p>score: {{this.score}}/5</p>
            <p>{{this.address}}</p>
            <p>{{this.review}}</p>
          </div>
        {{/unless}}

        {{#if this.published}}
          <h4>{{this.title}}</h4>
          <p>score: {{this.score}}/5</p>
          <p>{{this.address}}</p>
          <p>{{this.review}}</p>
        {{/if}}
        

        {{#unless this.published}}
          <a href="/reviews/{{this._id}}/editreview">
            <button type="submit" class="mybtn btn text-white">Edit</button>
          </a>
        {{/unless}}
        <a href="/reviews/{{this._id}}/delete">
          <button type="submit" class="mybtn btn text-white">Delete</button>
        </a>
        
      {{/each}}

    </div>
    {{/if}}
  

</div>