{{> userpartial}}

<div class="container">
  <h2>View all reviews</h2>
  <div id="map"></div>
  <form method="POST" action="/reviews">
    <label for="score" class="form-label">Score out of 5</label> 
    <select id="score" name="score" class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <label for="tags" class="form-label">Select a label</label> 
    <select id="tags" name="tags" class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected></option>
        <option value="Family">Family</option>
        <option value="Gay-friendly">Gay-friendly</option>
        <option value="Students">Students</option>
    </select>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <div class="viewAll">
    {{#each review}}
      <div id="eachReview">
        <h2>{{this.title}}</h3>
        <div class="direction">
          <h4>Country: </h4>
          <p>{{this.country}}</p>
          <h4>City: </h4>
          <p>{{this.city}}</p>
          <h4>District: </h4>
          <p>{{this.district}}</p>
          <h4>Address: </h4>
          <p>{{this.address}}</p>
        </div>
        <h4>Review: </h4>
        <p>{{this.review}}</p>
        <h4>Score: </h4>
        <p>{{this.score}}/5</p>
        <h4>Tags: </h4>
        <p>{{this.tags}}</p>
        {{#if this.picture}}

        <img src="{{this.picture}}" alt="picture">
        {{/if}}
      </div>
      
      <hr>
    
    {{/each}}
  </div>
</div>

<div class="container example">
  <h2>Example review</h2>
  <div class="example-review">
    <h3>Title of the review</h3>
    <div class="direction">
      <h4>Country: </h4>
      <p>France</p>
      <h4>City: </h4>
      <p>Lyon</p>
      <h4>District: </h4>
      <p>Vieux Lyon</p>
      <h4>Address: </h4>
      <p>Rue Saint-Jean</p>
    </div>
    <h4>Review: </h4>
    <p>Charming area full of life, but also touristic zone</p>
    <h4>Score: </h4>
    <p>4/5</p>
    <h4>Tags: </h4>
    <p>Family</p>
    {{#if this.picture}}

    <img src="{{this.picture}}" alt="picture">
    {{/if}}
    </div>
  </div>


<div class="container">
  <h3>Do you find these reviews useful? Help us grow our community and write your own review!</h3>
  <a href="/writereview" class="text-white">
    <button class="btn btn-primary">Write a review</button>
  </a>
</div>
