<div class="container">

  <div class="section">

    <h2>View all reviews</h2>
    
    <form method="POST" action="/reviews" class="row g-3">

      <div class="col-md-6">
        <label for="score" class="form-label">Score</label> 
        <select id="score" name="score" class="form-select">
          <option selected></option>
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="tags" class="form-label">Label</label> 
        <select id="tags" name="tags" class="form-select">
          <option selected></option>
            <option value="Family">Family</option>
            <option value="Gay-friendly">Gay-friendly</option>
            <option value="Students">Students</option>
            <option value="International">International</option>
            <option value="Party-friendly">Party-friendly</option>
            <option value="Commercial area">Commercial area</option>
            <option value="Green area">Green area</option>
            <option value="Sports options">Sports options</option>
        </select>

      </div>

      <div class="col-12 text-center">
          <button type="submit" class="mybtn btn btn-primary">Search</button>
        </div>
    </form>
  </div>


    <div id="map"></div>

  
  <div class="viewAll">

    {{#each review}}
      {{#if this.published}}
      <div class="single-review section container">
        <div class="userInfo">
          <img class="col userpicture usersmall" src="{{this.userId.picture}}" alt="user picture"> 
          <span>
            <h3 class="mb-3">{{this.userId.name}}</h3>
            <h3 class="mb-3">{{this.userId.lastname}}</h3>
          </span>
        </div>
          
        <h3 class="mb-3">{{this.title}}</h3>

        <div class="inner-card">
          <h5 ml-4>Rating: {{this.score}} / 5</h5>
          <h5>#{{this.tags}}</h5>
        </div>

        <div class="secondary-card">
          <p>City: {{this.city}}</p>
          <p>Address: {{this.address}}</p>
        </div>
   
        <hr>

        <div class="mt-4">
          <p>Review:</p>
          <p class="review">"{{this.review}}"</p>
        </div>

        {{#if this.picture}}

        <img src="{{this.picture}}" alt="picture">

      {{/if}}
      </div>
    {{/if}} 
    {{/each}}

  </div>


  <div class="section">

    <h3 class="text-center mb-4">Do you find these reviews useful? Help us grow our community and write your own review!</h3>

    <div class="container text-center">
      <button class="mybtn btn"><a href="/writereview" class="text-white">Write a review</a></button>
    </div>

  </div>
</div>