<div class="container">

  <div class="section">

    <h2>View all reviews</h2>
    
    <form method="POST" action="/reviews" class="row g-3">

      <div class="col-md-6">
        <label for="score" class="form-label">Score</label> 
        <select id="score" name="score" class="form-select">
          <option selected></option>
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="tags" class="form-label">Label</label> 
        <select id="tags" name="tags" class="form-select">
          <option selected></option>
            <option value="Family">Family</option>
            <option value="Gay-friendly">Gay-friendly</option>
            <option value="Students">Students</option>
            <option value="International">International</option>
            <option value="Party-friendly">Party-friendly</option>
            <option value="Groceries & restaurants">Groceries & restaurants</option>
            <option value="Green area">Green area</option>
            <option value="Sports options">Sports options</option>
        </select>

      </div>

      <div class="col-12 text-center">
          <button type="submit" class="mybtn btn btn-primary">Search</button>
        </div>
    </form>
  </div>


    <div id="map"></div>

  

    {{#each review}}
      {{#if this.published}}
      <div class="section container viewAll">
        <div class="userInfo">
          <img class="col userpicture usersmall" src="{{this.userId.picture}}" alt="user picture"> 
          <span>
            <h3 class="mb-3">{{this.userId.name}}</h3>
            <h3 class="mb-3">{{this.userId.lastname}}</h3>
          </span>
        </div>
          
        <h2 class="mb-3">{{this.title}}</h2>
        <h3 class="mb-3">{{this.score}} / 5</h3>
        <div class="col">Tags: {{this.tags}}</div>

        <div class="container directions">
          <div class="row row-cols-3">
            <div class="col">City: {{this.city}}</div>
            <div class="col">Address: {{this.address}}</div>
          </div>
        </div>

        <hr>

        <div class="container mt-4">
          <p>Review:</p>
          <p class="review"> 
            <br>
            <br>
            "{{this.review}}"</p>
        </div>

        {{#if this.picture}}

        <img src="{{this.picture}}" alt="picture">

      {{/if}}
    </div>
    {{/if}} 
    {{/each}}


  <div class="section">

    <h3 class="text-center mb-4">Do you find these reviews useful? Help us grow our community and write your own review!</h3>

    <div class="container text-center">
      <button class="mybtn btn"><a href="/writereview" class="text-white">Write a review</a></button>
    </div>

  </div>
</div>