{{> userpartial}}

<div class="container">
  <h2>View all reviews</h2>
  <form action="">
    <input type="text" name="search" id="search" placeholder="What are you looking for?">
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <div class="viewAll">
    {{#each review}}
      <h3>{{this.title}}</h3>
      <div class="direction">
        <p>{{this.country}}</p>
        <p>{{this.city}}</p>
        <p>{{this.district}}</p>
        <p>{{this.street}}</p>
      </div>
      <p>{{this.review}}</p>
      <p>{{this.score}}</p>
      <p>{{this.tags}}</p>
      <img src="{{this.picture}}" alt="picture">
      <br>
      <hr>
      <br>
    {{/each}}
  </div>
</div>

<div class="container">
  <h2>Example review</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga exercitationem nobis accusantium, nesciunt deserunt consectetur et amet eaque odio doloremque laboriosam, tempore iure eveniet ducimus? Id reiciendis soluta a quia!</p>
</div>

<div class="container">
  <h3>Do you find these reviews useful? Help us grow our community and write your own review!</h3>
  <button class="btn btn-primary"><a href="/writereview" class="text-white">Write a review</a></button>
</div>



