{{> userpartial}}

<div class="container">

  <div class="section">

    <h2>View all reviews</h2>
    
    <form method="POST" action="/reviews" class="row g-3">

      <div class="col-md-6">
        <label for="score" class="form-label">Score</label> 
        <select id="score" name="score" class="form-select">
          <option selected></option>
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="tags" class="form-label">Label</label> 
        <select id="tags" name="tags" class="form-select">
          <option selected></option>
            <option value="Family">Family</option>
            <option value="Gay-friendly">Gay-friendly</option>
            <option value="Students">Students</option>
        </select>

      </div>

      <div class="col-12 text-center">
          <button type="submit" class="mybtn btn btn-primary">Search</button>
        </div>
    </form>
  </div>

  <div id="map"></div>

    {{#each review}}
    <div class="section container viewAll">

      <h2 class="mb-3">{{this.title}}</h2>

      <div class="container directions">
        <div class="row row-cols-3">
          <div class="col mb-3">Country : {{this.country}}</div>
          <div class="col">City: {{this.city}}</div>
          <div class="col">District: {{this.district}}</div>
          <div class="col">Street: {{this.street}}</div>
          <div class="col">Score: {{this.score}}</div>
          <div class="col">Tags: {{this.tags}}</div>
        </div>
      </div>

      <hr>

      <div class="container mt-4">
        <p>Review: 
          <br>
          <br>
          {{this.review}}</p>
      </div>


      {{!-- <div class="direction">
        <p>Country: {{this.country}}</p>
        <p>City: {{this.city}}</p>
        <p>District: {{this.district}}</p>
        <p>Street: {{this.street}}</p>
      </div> --}}

      {{!-- <p>Review: {{this.review}}</p>
      <p>Score: {{this.score}}/5</p>
      <p>Tags: {{this.tags}}</p> --}}

      {{#if this.picture}}

      <img src="{{this.picture}}" alt="picture">

      {{/if}}
    </div>

    {{/each}}


  <div class="container section">

    <h3 class="text-center mb-4">Do you find these reviews useful? Help us grow our community and write your own review!</h3>

    <div class="container text-center">
      <button class="mybtn btn"><a href="/writereview" class="text-white">Write a review</a></button>
    </div>

  </div>
</div>