<div class="container">

  <div class="section">

    <div class="subtitle mb-4">
      <h1>Hey {{user.0.name}}! here you can update your profile</h1>
    </div>


      <form method="POST" action="/profile/edit" class="row g-3">
        <div class="col-md-4">
          <label for="name" class="form-label">Name *</label>
          <input value="{{user.0.name}}" type="text" name="name" id="name" class="form-control">
        </div>

        <div class="col-md-4">
          <label for="lastname" class="form-label">Last Name *</label>
          <input value="{{user.0.lastname}}" type="text" name="lastname" id="lastname" class="form-control">
        </div>

        <div class="col-md-4">
          <label for="country" class="form-label">Country *</label> 
          <select id="country" name="country" class="form-select" aria-label=".form-select-sm example">
            <option selected value="{{user.0.country}}">{{user.0.country}}</option>
            {{#each countriesList}}
              <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
          </select>
        </div>
      
        <div class="col-12 text-center">
          <button type="submit" class="mybtn btn btn-primary mt-4">Save Changes</button>
        </div>
      </form>


  </div>

</div>

{{#if msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole! 🥑</strong> {{msg}}
</div>
{{/if}}